body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-x: hidden;
}

code {
  font-family: "Roboto", sans-serif;
}
